node_modules
vendor
.git
.env
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.vscode
.idea
.fleet
.nova
.zed
*.md
!README.md
docker-compose*.yml
.phpunit.cache
.phpunit.result.cache
